<div class="chat_head">
  <div class="room_head">
    notice
  </div>
  <div class="end_button_box">
  <a href class="chat_end_button">
    チャットを終了する
  </a>
  </div>
</div>
<div class="chat_main">
  <div class="message">
    <div class="message_head">
      <div class="message_name">
        Tom
      </div>
      <div class="message_date">
        2021/03/03(wed) 12:43:55
      </div>
    </div>
    <div class="message_text">
      ohayou
    </div>
  </div>
  <div class="message">
    <div class="message_head">
      <div class="message_name">
        Kato
      </div>
      <div class="message_date">
        2021/03/03(wed) 12:43:55
      </div>
    </div>
    <div class="message_text">
      おは
    </div>
  </div>
</div>
<div class="chat_bottom">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>