<div class="side_box">
<div class="side_header">
  <div class="side_right_box">
  <a href class="side_head_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </a>
  </div>
  <div class="side_left_box">
    <a href class="create_link">
      チャットを作成する
    </a>
  </div>
</div>
<div class="room">
  <div class="chat_room">
    <a href class="room_name">room1</a>
  </div>
  <div class="chat_room">
    <a href class="room_name">room2</a>
  </div>
</div>
</div>